<script>
  window.options = {
    applications: <%= @applications.to_json.html_safe %>,
    eventNames: <%= @event_names.to_json.html_safe %>,
    keys: <%= @event_keys.to_json.html_safe %>,
  };

  window.notifier = <%= @notifier.to_json.html_safe %>;
</script>

<div id="rules">
  <div id="content"></div>
</div>
<%= javascript_include_tag 'rules' %>

