<script>
  window.options = {
    applications: ['test_app', 'production'],
    eventNames: ['signup', 'comment'],
    keys: <%= @event_keys.to_json.html_safe %>,
  };

  window.notifier = {
    id: <%= @notifier.id %>,
    application: '<%= @notifier.application %>',
    eventName: '<%= @notifier.event_name %>',
    target: '<%= @notifier.target %>',
    template: <%= @notifier.template.to_json.html_safe %>,
    rules: <%= @notifier.rules.to_json.html_safe %>,
  };
</script>

<div id="rules">
  <div id="content"></div>
</div>
<%= javascript_include_tag 'rules' %>

